---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Quaker by minis Bocaos Food Fest">

	<!-- VIDEOINTRO -->
	<div class="relative flex justify-center w-full min-h-[1200px] overflow-hidden">
		<video
		  autoplay
		  loop
		  muted
		  class=" -z-10 w-auto fixed"
		>
		  <source
			src="/videos/quakerVideo01.webm"
			type="video/webm"
		  />
		  Your browser does not support the video tag.
		</video>
		<img src="/img/quakerHero.webp" alt="Quaker by minis X Boacao Hero Banner" class="w-full z-30 self-end">
	</div>

	<!-- RECETA TORTA VASCA -->
	<section class="w-full min-h-full bg-[#092a3b] z-10 pt-16 shadow-xl shadow-slate-900" style="box-shadow: 10px 10px #0f172a;"> 
		<div class="p-8">
			<img src="/img/quakerTorta00.webp" alt="Quaker by minis Galletas rellenas de cheesecake" class="rounded-md mb-6 shadow-lg">
			<h2 class="text-[#dedcd7] text-4xl quaker font-bold">
				Cheesecake Vasco
			</h2>
			<h3 class="mb-2 text-[#dedcd7] mt-0 font-bold">Con crumble de avena Quaker&reg</h3>
			<p class="text-[#dedcd7] mb-1 font-medium">
				Nuestro cheesecake vasco es un sueño hecho realidad: crumble de avena Quaker&reg, mermelada de guayaba y crema Velvetop, todo en un bocado perfecto que mezcla texturas y sabores inolvidables.
			</p>
		</div>
		<div class="p-4">
			<img src="/img/quakerTorta02.webp" alt="Quaker by mini Cheesecake Vasca" class="mb-10 shadow-xl shadow-slate-800">
			<img src="/img/quakerTorta01.webp" alt="Quaker by mini Cheesecake Vasca" class="mb-8 shadow-xl shadow-slate-800">
		</div>
	</section>
	
	<div class="h-screen overflow-y-scroll bg-[url('/img/quakerTorta02.jpg')] bg-cover bg-fixed bg-center bg-no-repeat">

	</div>

	
	<!-- RECETA GALLETAS bg-[# 092a3b] -->
	<section class="w-full min-h-full bg-[#dedcd7] z-10 pt-16 shadow-xl shadow-slate-900" style="box-shadow: 10px 10px #0f172a;"> 
		<div class="p-8">
			<img src="/img/quakerGalletas00.webp" alt="Quaker by minis Galletas rellenas de cheesecake" class="rounded-md mb-6 shadow-lg">
			<h2 class="text-[#092a3b] text-4xl quaker font-bold">
				Galletas de Avena Quaker&reg
			</h2>
			<h3 class="mb-2 text-[#092a3b] mt-0 font-bold">Rellenas de Cheesecake</h3>
			<p class="text-[#092a3b] mb-1 font-medium">
				Descubre la explosión de sabores con nuestras galletas de avena Quaker&reg rellenas de cremoso cheesecake, coronadas con tus toppings favoritos: Chocochips, Fruty Ohs o Cap'N Crunch. ¡Irresistibles!
			</p>
		</div>
		<div class="p-4 pt-2">
			<img src="/img/quakerGalleta01.webp" alt="Quaker by mini Galleta de Cheesecake con Chocochips" class="mb-2">
			<img src="/img/quakerGalleta02.webp" alt="Quaker by mini Galleta de Cheesecake con Fruty Oks" class="mb-2 ">
			<img src="/img/quakerGalleta03.webp" alt="Quaker by mini Galleta de Cheesecake con Cap N Crunch" class="mb-4 ">
		</div>
	</section>

	<div class="h-screen overflow-y-scroll bg-[url('/img/quakerGalletas04.jpg')] bg-cover bg-fixed bg-center bg-no-repeat">

	</div>


	<!-- Galería de fotos -->
	<section class="w-full min-h-full pt-16 bg-[#dedcd7] flex flex-col ">
		<div class="p-8 text-center flex flex-col justify-center ">
			<h2 class="text-[#092a3b] text-4xl quaker mb-2 font-bold">
				¡Revive tus mejores momentos en Bocao!
			</h2>
			<p class="text-[#092a3b] mb-1 font-medium">
				Revive los sabores y la energía de Bocao Food Fest con Quaker&reg. ¡Momentos deliciosos para recordar!
			</p>
		</div>
		<div class="flex justify-center gap-4 text-center px-4 pb-12 pt-2">
			<a href="https://drive.google.com/drive/folders/1y73zHxFkSw9qlLrWVaKCHHzu-sdhj0tT?usp=sharing" class="bg-[#092a3b] quaker uppercase text-[#dedcd7] hover:text-[#092a3b] hover:bg-[#dedcd7] active:text-[#092a3b] active:bg-[#dedcd7] py-2 px-6 rounded-full shadow-md w-28 h-28 flex flex-col justify-center items-center text-xl">
				Día 1
				<span class="block text-sm">
					Fotos
				</span>
			</a>
			<a href="https://drive.google.com/drive/folders/1XlKOM7jUc-OTXG44VXtOnbF1R2pdaNHU?usp=sharing" class="bg-[#092a3b] quaker uppercase text-[#dedcd7] hover:text-[#092a3b] hover:bg-[#dedcd7] active:text-[#092a3b] active:bg-[#dedcd7] py-2 px-6 rounded-full shadow-md w-28 h-28 flex flex-col justify-center items-center text-xl">
				Día 2
				<span class="block text-sm">
					Fotos
				</span>
			</a>
			<a href="https://drive.google.com/drive/folders/1YxjQsLgmICAAFHISA9icy3p-aneEwUvO?usp=sharing" class="bg-[#092a3b] quaker uppercase text-[#dedcd7] hover:text-[#092a3b] hover:bg-[#dedcd7] active:text-[#092a3b] active:bg-[#dedcd7] py-2 px-6 rounded-full shadow-md w-28 h-28 flex flex-col justify-center items-center text-xl">
				Día 3
				<span class="block text-sm">
					Fotos
				</span>
			</a>
		</div>
		<img src="/img/quakerBocao.webp" alt="Quaker by minis x Bocao Footer Banner">
	</section>
</Layout>

<style>
.ingredient-list {
  list-style: none;
  padding: 0;
}

.ingredient-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient {
  margin-right: 10px;
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dashed #0f172a;
  margin-right: 10px;
}

.dotsWhite {
  flex-grow: 1;
  border-bottom: 1px dashed #FFF;
  margin-right: 10px;
}

.amount {
  white-space: nowrap;
}

.godito{
    margin-top: 4px;
    padding: 10px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #FF642F;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

</style>

<script is:inline>
	document.addEventListener('DOMContentLoaded', function () {
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate-fade');
      }
    });
  });

  // Selecciona todos los elementos que quieras animar al entrar en el viewport
  const animatedElements = document.querySelectorAll('.fade-in-element');

  animatedElements.forEach((el) => observer.observe(el));
});

</script>