---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Receta de Pancake de Avena y Mango">
    <main class=" text-slate-900 flex justify-center items-center w-full h-full">
		<h1 class="text-6xl text-zinc-200 font-bold">
			Coming Soon...
		</h1>
    </main>
</Layout>

<style>
.ingredient-list {
  list-style: none;
  padding: 0;
}

.ingredient-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient {
  margin-right: 10px;
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dashed #0f172a;
  margin-right: 10px;
}

.dotsWhite {
  flex-grow: 1;
  border-bottom: 1px dashed #FFF;
  margin-right: 10px;
}

.amount {
  white-space: nowrap;
}

.godito{
    margin-top: 4px;
    padding: 10px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #FF642F;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

</style>

<script is:inline>
	document.addEventListener('DOMContentLoaded', function () {
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate-fade');
      }
    });
  });

  // Selecciona todos los elementos que quieras animar al entrar en el viewport
  const animatedElements = document.querySelectorAll('.fade-in-element');

  animatedElements.forEach((el) => observer.observe(el));
});

</script>