---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Superfood | Home">
	<main>
		<h1 class="text-2xl text-slate-100">
			Hola Mundo
		</h1>
		
		<h1 class="text-zinc-100 text-2xl">Smootie de Avena y Frutos Rojos</h1>
		<h1 class="text-zinc-100 text-2xl">Cinnamon Apple Muffin</h1>
	</Layout>
	</main>
</Layout>

<style>
	
</style>
