---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Receta de Pancake de Avena y Mango">

	<!-- VIDEOINTRO -->
	<div class="relative flex justify-center w-full min-h-[1200px] overflow-hidden">
		<video
		  autoplay
		  loop
		  muted
		  class=" -z-10 w-auto fixed"
		>
		  <source
			src="/videos/quakerVideo01.mp4"
			type="video/mp4"
		  />
		  Your browser does not support the video tag.
		</video>
		<img src="/img/quakerHero.webp" alt="Quaker by minis X Boacao Hero Banner" class="w-full z-30 self-end">
	</div>

	<!-- RECETA GALLETAS bg-[# 092a3b] -->
	<section class="w-full min-h-full bg-[#dedcd7] z-10 pt-16 shadow-xl shadow-slate-900" style="box-shadow: 10px 10px #0f172a;"> 
		<div class="p-8">
			<img src="/img/quakerGalletas00.jpg" alt="Quaker by minis Galletas rellenas de cheesecake" class="rounded-md mb-6 shadow-lg">
			<h2 class="text-[#092a3b] text-4xl quaker mb-2 font-bold">
				Galleeeeetas
			</h2>
			<p class="text-[#092a3b] mb-1">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eum sapiente culpa quam consectetur deleniti voluptatem, quos quia tempore, adipisci rerum dignissimos consequuntur saepe deserunt et maxime? Necessitatibus, porro consequatur!
			</p>
		</div>
		<div class="p-8">
			<img src="/img/quakerGalleta01.jpg" alt="Quaker by mini Galleta de Cheesecake con Chocochips" class="mb-10 rounded-md shadow-xl shadow-slate-800">
			<img src="/img/quakerGalleta05.jpg" alt="Quaker by mini Galleta de Cheesecake con Fruty Oks" class="mb-10 rounded-md shadow-xl shadow-slate-800">
			<img src="/img/quakerGalleta03.jpg" alt="Quaker by mini Galleta de Cheesecake con Cap N Crunch" class="mb-8 rounded-md shadow-xl shadow-slate-800">
		</div>
	</section>

	<div class="h-screen overflow-y-scroll bg-[url('/img/quakerGalletas04.jpg')] bg-cover bg-fixed bg-center bg-no-repeat">

	</div>

	<!-- RECETA TORTA VASCA -->
	<section class="w-full min-h-full bg-[#092a3b] z-10 pt-16 shadow-xl shadow-slate-900" style="box-shadow: 10px 10px #0f172a;"> 
		<div class="p-8">
			<img src="/img/quakerTorta00.jpg" alt="Quaker by minis Galletas rellenas de cheesecake" class="rounded-md mb-6 shadow-lg">
			<h2 class="text-[#dedcd7] text-4xl quaker mb-2 font-bold">
				Torta Vasca
			</h2>
			<p class="text-[#dedcd7] mb-1">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eum sapiente culpa quam consectetur deleniti voluptatem, quos quia tempore, adipisci rerum dignissimos consequuntur saepe deserunt et maxime? Necessitatibus, porro consequatur!
			</p>
		</div>
		<div class="p-8">
			<img src="/img/quakerTorta01.jpg" alt="Quaker by mini Torta Vasca" class="mb-10 rounded-md shadow-xl shadow-slate-800">
			<img src="/img/quakerTorta03.jpg" alt="Quaker by mini Torta Vasca" class="mb-8 rounded-md shadow-xl shadow-slate-800">
		</div>
	</section>

	<div class="h-screen overflow-y-scroll bg-[url('/img/quakerTorta02.jpg')] bg-cover bg-fixed bg-center bg-no-repeat">

	</div>

	<!-- Galería de fotos -->
	<section class="w-full min-h-full pt-16 bg-[#dedcd7] flex flex-col ">
		<div class="p-8 text-center flex flex-col justify-center ">
			<h2 class="text-[#092a3b] text-4xl quaker mb-2 font-bold">
				¡Revive tus mejores momentos en Bocao!
			</h2>
			<p class="text-[#092a3b] mb-1">
				Lorem ipsum dolor sit amet consectetur adipisicing elit lexon moment phographeae. 
			</p>
		</div>
		<div class="flex flex-col justify-center text-center p-8 pt-2">
			<a href="" class="bg-[#092a3b] text-[#dedcd7] hover:text-[#092a3b] hover:bg-[#dedcd7] active:text-[#092a3b] active:bg-[#dedcd7] py-2 px-6 rounded shadow-md mb-3">
				Fotos del día uno
			</a>
			<a href="" class="bg-[#092a3b] text-[#dedcd7] hover:text-[#092a3b] hover:bg-[#dedcd7] active:text-[#092a3b] active:bg-[#dedcd7] py-2 px-6 rounded shadow-md mb-3">
				Fotos del día dos
			</a>
			<a href="" class="bg-[#092a3b] text-[#dedcd7] hover:text-[#092a3b] hover:bg-[#dedcd7] active:text-[#092a3b] active:bg-[#dedcd7] py-2 px-6 rounded shadow-md">
				Fotos del día tres
			</a>
		</div>
	</section>
</Layout>

<style>
.ingredient-list {
  list-style: none;
  padding: 0;
}

.ingredient-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient {
  margin-right: 10px;
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dashed #0f172a;
  margin-right: 10px;
}

.dotsWhite {
  flex-grow: 1;
  border-bottom: 1px dashed #FFF;
  margin-right: 10px;
}

.amount {
  white-space: nowrap;
}

.godito{
    margin-top: 4px;
    padding: 10px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #FF642F;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

</style>

<script is:inline>
	document.addEventListener('DOMContentLoaded', function () {
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('animate-fade');
      }
    });
  });

  // Selecciona todos los elementos que quieras animar al entrar en el viewport
  const animatedElements = document.querySelectorAll('.fade-in-element');

  animatedElements.forEach((el) => observer.observe(el));
});

</script>