---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Receta de Pancake de Avena y Mango">
	<header class="w-full h-full mb-0">
		<img src="/images/super-food-banner.webp" alt="">
		<div class="px-6 py-10 bg-[url('/images/bg-pizarra-hero.webp')] bg-cover">
			<h1 class="quaker text-3xl text-[#863d24] uppercase">
				Delicioso Poder Nutritivo
			</h1>
			<p class="text-zinc-200">
				Descubre la mezcla de ingredientes naturales ricos en nutrimentos que contienen los nuevos Cereales y Avenas Quaker Super Foods. Déjate sorprender por la variedad de recetas que puedes preparar con ellos. Para que lo disfrutes, te traemos 3 recetas nutritivas, súper fáciles y deliciosas.
			</p>
		</div>
	</header>
    <main class=" text-slate-900 mt-0">
		<!-- RECETA01 -->
        <section id="receta01" class="mt-0 bg-[url('/images/textura-papel-lg.webp')] bg-cover">
			<img src="/images/divisor-hero.webp" alt="Divisor del Hero" class="w-full my-0">
			<h2 class="mx-6 mt-6 mb-6 quaker text-5xl text-[#863d24] uppercase">Recetas Quaker</h2>
			<div class="w-full px-6">
				<h2 class="text-2xl font-bold titulo text-[#863d24]">Pancake de Avena y Mango</h2>
				<p>
					Deliciosas pancakes de avena y mango, una mezcla perfecta de frescura tropical. Rápidas de preparar, ideales para un desayuno energizante y nutritivo. ¡Perfectas para comenzar el día! 
				</p>

				<img src="/images/Pancake-Avena-Mango.webp" alt="Imagen de la receta de Pancake de Avena y Mango" class="w-full mt-6 rounded-md shadow-md">
				
				<article class="mt-6 p-2 rounded-md bg-yellow-200/40">
					<h2 class="mb-4 text-lg font-bold titulo">
						Ingredientes
					</h2>
					<ul class="ingredient-list">
						<li class="mb-1"><span class="ingredient">Avena molida</span><span class="dots"></span><span class="amount">2 tazas</span></li>
						<li><span class="ingredient">Mango</span><span class="dots"></span><span class="amount">2 tazas</span></li>
						<li><span class="ingredient">Leche de almendra</span><span class="dots"></span><span class="amount">1 taza</span></li>
						<li><span class="ingredient">Agave</span><span class="dots"></span><span class="amount">4 cdas</span></li>
						<li><span class="ingredient">Polvo de hornear</span><span class="dots"></span><span class="amount">1 cda</span></li>
						<li><span class="ingredient">Sal</span><span class="dots"></span><span class="amount">&frac14; cda</span></li>
					</ul>
				</article>

				<article class="mt-8 p-2 rounded-md bg-yellow-200/40">
					<h2 class="mb-4 text-lg font-bold titulo">
						Instrucciones
					</h2>
					<ul>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								1
							</span>
							<p>
								Incorporar todos los ingredientes en una licuadora y batir hasta conseguir una mezcla uniforme.
							</p>
						</li>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								2
							</span>
							<p>
								Engrasar una sartén ligeramente, luego con una cuchara o scoop agregar la mezcla y cocinar a fuego medio/bajo por 3 minutos de un lado y 3 minutos del otro lado.
							</p>
						</li>
					</ul>
				</article>
			</div>
			<img src="/images/divisor-receta-1.webp" alt="Divisor entre receta 1 y 2" class="w-full my-0 mt-10">
		</section>

		<!-- RECETA02 -->
		<section id="receta02" class="mt-0 pb-10  bg-cover">
			<div class="w-full px-6 pb-6 text-white">
				<h2 class="mt-6 text-2xl font-bold titulo text-[#eccb79]">Smootie de Avena y Frutos Rojos</h2>
				<p>
					Deliciosas pancakes de avena y mango, una mezcla perfecta de frescura tropical. Rápidas de preparar, ideales para un desayuno energizante y nutritivo. ¡Perfectas para comenzar el día! 
				</p>

				<img src="/images/Smootie-Avena-Frutos-Rojos.webp" alt="Imagen de la receta de Pancake de Avena y Mango" class="w-full mt-6 rounded-md shadow-md">
				
				<article class="mt-6 p-2 rounded-md border border-zinc-200">
					<h2 class="mb-4 text-lg font-bold titulo">
						Ingredientes
					</h2>
					<ul class="ingredient-list">
						<li class="mb-1"><span class="ingredient">Avena molida</span><span class="dotsWhite"></span><span class="amount">&frac14; taza</span></li>
						<li><span class="ingredient">Frutos rojos</span><span class="dotsWhite"></span><span class="amount">1 taza</span></li>
						<li><span class="ingredient">Agave</span><span class="dotsWhite"></span><span class="amount">4 cdas</span></li>
						<li><span class="ingredient">Leche de almendra</span><span class="dotsWhite"></span><span class="amount">1 taza</span></li>
						<li><span class="ingredient">Zumo de limón</span><span class="dotsWhite"></span><span class="amount">2 oz</span></li>
						<li><span class="ingredient">Hielo</span><span class="dotsWhite"></span><span class="amount">8 oz</span></li>
					</ul>
				</article>

				<article class="mt-8 p-2 rounded-md border border-zinc-200">
					<h2 class="mb-4 text-lg font-bold titulo">
						Instrucciones
					</h2>
					<ul>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								1
							</span>
							<p>
								Incorporar todos los ingredientes en la licuadora y batir hasta conseguir una mezcla uniforme.
							</p>
						</li>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								2
							</span>
							<p>
								Servir y disfrutar.
							</p>
						</li>
					</ul>
				</article>
			</div>
		</section>

		<!-- RECETA03 -->
		<section id="receta03" class="mt-0 bg-[url('/images/textura-papel-lg.webp')] bg-cover">
			<img src="/images/divisor-hero.webp" alt="Divisor del Hero" class="w-full my-0">
			<div class="w-full px-6">
				<h2 class="text-2xl mt-6 font-bold titulo text-[#863d24]">Cinnamon Apple Muffin</h2>
				<p>
					Deliciosas pancakes de avena y mango, una mezcla perfecta de frescura tropical. Rápidas de preparar, ideales para un desayuno energizante y nutritivo. ¡Perfectas para comenzar el día! 
				</p>

				<img src="/images/Cinnamon-Apple-Muffin.webp" alt="Imagen de la receta de Pancake de Avena y Mango" class="w-full mt-6 rounded-md shadow-md">
				
				<article class="mt-6 p-2 rounded-md bg-yellow-200/50">
					<h2 class="mb-4 text-lg font-bold titulo">
						Ingredientes
					</h2>
					<ul class="ingredient-list">
						<li class="mb-1"><span class="ingredient">Harina de avena</span><span class="dots"></span><span class="amount">1 taza</span></li>
						<li><span class="ingredient">Azúcar morena</span><span class="dots"></span><span class="amount">&frac12; taza</span></li>
						<li><span class="ingredient">Harina de almendra</span><span class="dots"></span><span class="amount">&frac12;  taza</span></li>
						<li><span class="ingredient">Apple filling</span><span class="dots"></span><span class="amount">&frac14; taza</span></li>
						<li><span class="ingredient">Compota de manzana</span><span class="dots"></span><span class="amount">&frac12;  taza</span></li>
						<li><span class="ingredient">Clavo dulce en polvo</span><span class="dots"></span><span class="amount">&frac14; cdita</span></li>
						<li><span class="ingredient">Nuez moscada</span><span class="dots"></span><span class="amount">&frac14; cdita</span></li>
						<li><span class="ingredient">Bicarbonato</span><span class="dots"></span><span class="amount">&frac12; cdita</span></li>
						<li><span class="ingredient">Polvo de hornear</span><span class="dots"></span><span class="amount">&frac12; cdita</span></li>
						<li><span class="ingredient">Canela en polvo</span><span class="dots"></span><span class="amount">2 cdita</span></li>
						<li><span class="ingredient">Vainilla</span><span class="dots"></span><span class="amount">1 cdita</span></li>
						<li><span class="ingredient">Sal</span><span class="dots"></span><span class="amount">&frac18; cdita</span></li>
					</ul>
				</article>

				<article class="mt-8 p-2 rounded-md bg-yellow-200/50">
					<h2 class="mb-4 text-lg font-bold titulo">
						Instrucciones
					</h2>
					<ul>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								1
							</span>
							<p>
								Se mezclan los ingredientes secos en un recipiente y luego de moverlos bien se agregan los demás ingredientes.
							</p>
						</li>
						<li class="mb-2 flex gap-2">

							<span class="godito">
								2
							</span>
							<p>
								Mezclar todo en un recipiente grande.
							</p>
						</li>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								3
							</span>
							<p>
								Precalentar el horno a 160 grados.
							</p>
						</li>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								4
							</span>
							<p>
								Engrasar moldes con aceite de coco e incorporar la mezcla.
							</p>
						</li>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								5
							</span>
							<p>
								<ul>
									<li>
										Hornear:
									</li>
									<li>
										Cupcake - 35min a 145 grados.
									</li>
									<li>
										Bizcocho &frac14; libra - 45min a 160 grados.
									</li>
									<li>
										Bizcocho &frac12; libra - 50min a 160 grados.
									</li>
								</ul>
							</p>
						</li>
						<li class="mb-2 flex gap-2">
							<span class="godito">
								6
							</span>
							<p>
								Enfriar y luego desmoldar.
							</p>
						</li>
					</ul>
				</article>
			</div>
			<img src="/images/divisor-receta-1.webp" alt="Divisor entre receta 1 y 2" class="w-full my-0 mt-10">
		</section>
    </main>
</Layout>

<style>
.ingredient-list {
  list-style: none;
  padding: 0;
}

.ingredient-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient {
  margin-right: 10px;
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dashed #0f172a;
  margin-right: 10px;
}

.dotsWhite {
  flex-grow: 1;
  border-bottom: 1px dashed #FFF;
  margin-right: 10px;
}

.amount {
  white-space: nowrap;
}

.godito{
    margin-top: 4px;
    padding: 10px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #FF642F;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

</style>